/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

html {
  font-size: 62.5%;
}

*, *::before, *::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  
}
* {
  margin: 0;
}

img, picture, video, canvas, svg {
  display: block;
}
input, button, textarea, select {
  font: inherit;
  display: block;

}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
p {
  text-wrap: balance;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/* My CSS */
/* DDC-FB-GAGO display,dimension,color,font,border, *governing*/
/* BACKGROUND-CRISP - OCA (COlor, Repeat, Image, Size, position, origin, clip, attachment  */

@font-face {
    font-family: "Jua";
    src: url("./assets/fonts/jua-regular-webfont.woff2");
    font-weight: 400;
} 
/* 
div.form-main{
  font-size: 1rem;
} */

*, *::before, *::after {
    box-sizing: border-box;
    font-family: "Jua", Arial, Helvetica, sans-serif;
    /* line-height: 1.4rem;  */
    line-height: calc(1em + 0.4rem); 
    /* line-height: 1em;  */
}

body {
  background: linear-gradient(
    to right,
    blue 20%,
    white 40%,
    yellow 60%,
    white 70%,
    red 90%);
} 

div.main-container {
    display: flex;
    max-width: 100%;
    height: 100vh;
    /* border: 2px solid green; */
    padding: 20px;
    justify-content: space-between;
    gap:20px;
}


div.main-container > div {
  flex:1;
  /* border: 2px solid green; */
}

div.main-container > div > * {
  text-align: start;
}
#img1, #img2 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  border-radius: 10%;
}

/* div > form {
  border: 1px solid blue;
} */

/* FORM FLEXBOX */
div.user-info {
  display: block;
  padding: 1.875rem 0.875rem;
  text-align: start;
  /* border: 2px solid orange; */
}

div.user-info > div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: calc(1.375rem + 0.875em);
  gap: 1.875rem;
}

div.user-info > div > div {
  display: block;
  max-width: max-content;
  
}

div.user-info label {
  font-size: calc(0.375rem + 1rem);
  display: block;
}

input {
  width: 20ch;
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: lighter;
}

p#ads {
  padding: 1.875rem 0.875rem;
  max-width: fit-content;
  text-wrap: balance;
  font-size: 2.4rem;
}

div.btn {
  padding: 1.875rem 0.875rem 0.5rem;
  font-size: 1.6rem;
}

div.btn > button {
  padding: 0.25em 0.4em;
  background-color: rgb(59, 105, 202);
  color:beige;
}

div.already {
  padding: 0.5rem 0.875rem 1.875rem;
  font-size: 1.6rem;
}

input:invalid {
  outline: 1px ridge rgb(229, 156, 156);
}

input:valid {
  outline: 1.4px solid rgb(25, 255, 25);
}

figcaption {
  display: inline-block;
  position: relative;
  bottom: 5%;  
  left: 50%;
  width: max-content;
  transform: translateX(-50%);
  color: rgb(212, 221, 209);
  font-size: 1em;
}

a[href] {
  color: rgb(66, 189, 82);
  text-decoration: none;
}

figcaption {
  background-color: rgba(30, 43, 26, 0.6);
  border-radius: 5%;
}









